.wrapped{
    
    background-color: var(--background-base);
    background-repeat: no-repeat;
    background-size: 1044.4px;
    background-image: url(https://www-growth.scdn.co/static/home/wrapped-homepage-banner-graphic-tablet-mobile.svg), url(https://www-growth.scdn.co/static/home/wrapped-homepage-banner-graphic-tablet-mobile.svg);
    background-position: right 40.3% bottom -509px, right -625px top -461px;
}

.wrapped_article{
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    
}
.wrapped-container{
    padding: 64px 0px;
    text-align: center;
}
.wrapped-container p {
    font-size: 14px;
    margin-bottom: 32px;
    margin: 0px 0px 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--text-base);
    font-weight: 600;
}

.wrapped-container h1{
    max-width: 100%;
    font-size: 60px;
    color: var(--text-base);
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: calc(24px + 8 * ((100vw - 320px) / 160));
}

.wrapped-subheader {
    width: 100%;
    
}
.wrapped-subheader h2{
    margin: 32px 0px;
    text-align: start;
    max-width: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-base);
    text-align: center;
}

.app_links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    flex-direction: column;
    width: 100%;
}
.app_links a{
    width: auto;
    display: block;
    height: 40px;
    margin-bottom: 15px;
}
.app_links a img{
    width: 100%;
    height: 100%;
}


.app_links a:nth-child(2)>  img{
    transform: scale(1.5);
}
.listen-section{
    background-color: rgb(41, 65, 171);
    height: 600px;
    overflow: auto;
    background-image: url(https://content-tooling.spotifycdn.com/images/af63e367-ad10-4063-a8e2-5a50ae2a4b28_lie_circles-mobile.svg);
    background-position: 65% 55%;
    background-size: auto 177%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.listen-container{
    padding: 64px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.listen-container p{
    color: var(--primary-color);
    font-size: 14px;
    margin: 16px 0px 32px;
    font-weight: 600;
    line-height: 16px;
}
.listen-container h1{
    font-size: calc(24px + 8 * ((100vw - 320px) / 160));
    color: var(--primary-color);
    min-width: 372px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 0px 0px 8px;
    padding: 0;
    font-weight: 900;
}

.subheader h2{
    color: var(--primary-color);
    max-width: 558px;
    margin: 32px 0px 0px;
    padding: 0;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
}

.get-spotify-btn{
    padding: 14px 32px;
    margin-top: 25px;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--text-base);
    font-weight: 600;
}


@media screen and (min-width:620px){
    .wrapped{
        background-image: url(https://www-growth.scdn.co/static/home/wrapped-homepage-banner-graphic-tablet-mobile.svg), url(https://www-growth.scdn.co/static/home/wrapped-homepage-banner-graphic-tablet-mobile.svg);
        background-position: right 40.3% bottom -509px, right -542px top -461px;
    }
}


@media screen and (min-width:768px){
    .listen-section{
        background-image: url(https://content-tooling.spotifycdn.com/images/1d2242b4-f071-4244-a276-3bcdc58e77cf_lie_circles-tablet.svg);
    background-position: center center;
    background-size: auto 181%;
    background-repeat: no-repeat;
    }
.wrapped_article{
    min-height: 1146px;
}
   

    
   
}



@media screen and (min-width:1200px){
    .listen-section{
        background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(https://content-tooling.spotifycdn.com/images/b236bf87-bfd5-4bcb-b51a-77881073039c_lie_circles.svg);
    background-position: right center;
    }

    .wrapped{
        background-image: url(../assets/tablet_wrapped.svg);
    
    background-position: right -1092px bottom -428px;
    }

    .listen-container{
        padding: 64px 0px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .wrapped-container{
        padding: 64px 0px;
        text-align: left;
    }

    .wrapped-container h1{
        max-width: 512px;
        
    }

    .wrapped-subheader h2{
        max-width: 512px;
        text-align: left;
        width: 512px;
        font-size: 24px;
       
    }

    .app_links{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
        flex-direction: row;
        width: 100%;
    }

    .app_links a:first-child{
        margin-right: 20px;
    }

    .wrapped_article{
        
        min-height: auto;
        
    }

    
}





